<h1>Editing {{this.username}}</h1> 
<button {{action 'edituser' }} class="add-button">edituser</button>
<form>
<div class="details">
<label for="userid"><b>Userid:</b></label>
{{input type = "text" placeholder = "Enter the userid" value = userid}}
</div>
<div class="details">
<label for="name"><b>Name:</b></label>
{{input type = "text" placeholder = "Enter the name" value = name}}
</div>
<div class="details">
<label for="email"><b>Email:</b></label>
{{input type = "text" placeholder = "Enter the email" value = email}}
</div>
<div class="details">
{{#link-to 'users.list'}} <button {{action 'save' }} class="add-button">save</button>{{/link-to}}
{{#link-to 'users.list'}} <button type="button">cancel</button> {{/link-to}}
</div>
</form>
{{outlet}}